header {
  height: 90px;
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  .actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
