* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --primary: #165c7d;
  --secondary: #ffffff;
  --background: #e7eef1;

  --primary-hover: rgba(22, 92, 125, 0.1);
}

html,
body {
  height: 100%;
}

.app-wrapper :nth-child(3) {
  flex: 1;
}

body {
  background-color: var(--background);
  font-family: 'Roboto', sans-serif;
}
