:root {
  --primary: #165c7d;
  --secondary: #ffffff;
  --background: #e7eef1;
  --neutral: #C6CED1;

  --text-primary: #101213;
  --text-secondary: #787878;
  --text-neutral: #4F575E;

  --primary-hover: rgba(22, 92, 125, 0.1);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  height: 100%;
  color: var(--text-primary)
}

.app-wrapper :nth-child(3) {
  flex: 1;
}

body {
  background-color: var(--background);
  font-family: 'Roboto', sans-serif;
}
